a {
    cursor:progress;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: orange;
}

a:active {
    color: rgb(209, 44, 15);
}

a:hover {
    background-color: aqua;
    color: blueviolet;
}